<!DOCtype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Calculator Whoo!</title>
  <link rel='stylesheet' href='/style.css' />
</head>
<body>



  <nav>
    <ul>
      <h1>Calculator Tool</h1>
      <li><h1><a href="/">home</a></h1></li>
      <li><h1><a href="/about">about us</a></h1></li>
      <li><h1><a href="/contact_us">contact us</a></h1></li>
    </ul>
  </nav>
  <%= yield %>

</body>
</html>