Please send us your feedback by completing this Contact Us form!


<form action='/contact_us' method='get'>
  Name: <input type='text'  name='name' />
  Email: <input type='text'  name='email' />
  Message: <input type='text'  name='message' />
  <button>Send!</button>
</form>

<% if @reply %>
<section>
  <header>
  Thank you for your message!
  </header>
  <p>Enter Name: <%= @name %></p>
  <p>Email: <%= @email %></p>
  <p>Message: <%= @message %>
  <hr/>
  <p>Thanks for the message! 
  is <%= @reply %> </p>
</section>
